****
## JSON exercise

Using data in file 'data/world_bank_projects.json' and the techniques demonstrated,
1. Find the 10 countries with most projects
2. Find the top 10 major project themes (using column 'mjtheme_namecode')
3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

# Problem 1
Find the 10 countries with most projects

## importing packages

In [1]:
import pandas as pd
import json
import numpy as np
from pandas.io.json import json_normalize

## open the json file and load in the dataframe

In [2]:
# open json file as a dataframe
json_df = pd.read_json('data/world_bank_projects.json', )

# inspect json dataframe
json_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 50 columns):
sector                      500 non-null object
supplementprojectflg        498 non-null object
projectfinancialtype        500 non-null object
prodline                    500 non-null object
mjtheme                     491 non-null object
idacommamt                  500 non-null int64
impagency                   472 non-null object
project_name                500 non-null object
mjthemecode                 500 non-null object
closingdate                 370 non-null object
totalcommamt                500 non-null int64
id                          500 non-null object
mjsector_namecode           500 non-null object
docty                       446 non-null object
sector1                     500 non-null object
lendinginstr                495 non-null object
countrycode                 500 non-null object
sector2                     380 non-null object
totalamt                    500 non-null int64
mjtheme_namecode            500 non-null object
boardapprovaldate           500 non-null object
countryshortname            500 non-null object
sector4                     174 non-null object
prodlinetext                500 non-null object
productlinetype             500 non-null object
regionname                  500 non-null object
status                      500 non-null object
country_namecode            500 non-null object
envassesmentcategorycode    430 non-null object
project_abstract            362 non-null object
approvalfy                  500 non-null int64
projectdocs                 446 non-null object
lendprojectcost             500 non-null int64
lendinginstrtype            495 non-null object
theme1                      500 non-null object
grantamt                    500 non-null int64
themecode                   491 non-null object
borrower                    485 non-null object
sectorcode                  500 non-null object
sector3                     265 non-null object
majorsector_percent         500 non-null object
board_approval_month        500 non-null object
theme_namecode              491 non-null object
countryname                 500 non-null object
url                         500 non-null object
source                      500 non-null object
projectstatusdisplay        500 non-null object
ibrdcommamt                 500 non-null int64
sector_namecode             500 non-null object
_id                         500 non-null object
dtypes: int64(7), object(43)
memory usage: 195.4+ KB

## Find the most frequent countries

Since `countryname` is not nested, we can sort the column by high to low using the default return of `.value_counts()`

In [3]:
# sort out the frequency of countries in descending order
projects_per_country = json_df.countryname.value_counts()
projects_per_country

Republic of Indonesia                       19
People's Republic of China                  19
Socialist Republic of Vietnam               17
Republic of India                           16
Republic of Yemen                           13
                                            ..
Antigua and Barbuda                          1
Democratic Socialist Republic of Sri Lan     1
Republic of Panama                           1
Tuvalu                                       1
Kingdom of Thailand                          1
Name: countryname, Length: 118, dtype: int64

# Problem 2

Find the top 10 major project themes (using column 'mjtheme_namecode')

## Inspect the `mjtheme_namecode` column

In [4]:
json_df.mjtheme_namecode

0      [{'code': '8', 'name': 'Human development'}, {...
1      [{'code': '1', 'name': 'Economic management'},...
2      [{'code': '5', 'name': 'Trade and integration'...
3      [{'code': '7', 'name': 'Social dev/gender/incl...
4      [{'code': '5', 'name': 'Trade and integration'...
                             ...
495    [{'code': '4', 'name': 'Financial and private ...
496    [{'code': '8', 'name': 'Human development'}, {...
497    [{'code': '10', 'name': 'Rural development'}, ...
498    [{'code': '10', 'name': 'Rural development'}, ...
499    [{'code': '9', 'name': 'Urban development'}, {...
Name: mjtheme_namecode, Length: 500, dtype: object

## Open the file as string and flatten `mjtheme_namecode`
Since the column is nested, it needs to be flattened using json_normalize() to the column

In [5]:
# if you get the column mjtheme_namecode like this, it will look presentable in jupyter
js = json.load(open('data/world_bank_projects.json'))
themes = json_normalize(js, 'mjtheme_namecode')
themes

     code                                      name
0       8                         Human development
1      11
2       1                       Economic management
3       6     Social protection and risk management
4       5                     Trade and integration
...   ...                                       ...
1494   10                         Rural development
1495    9                         Urban development
1496    8                         Human development
1497    5                     Trade and integration
1498    4  Financial and private sector development

[1499 rows x 2 columns]

## Sort the frequency of code numbers in descending order

In [6]:
top_ten_themes = themes.code.value_counts().head(10)
top_ten_themes

11    250
10    216
8     210
2     199
6     168
4     146
7     130
5      77
9      50
1      38
Name: code, dtype: int64

# Problem 3

In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

This process requires three steps:

 - Sort the list by code and name in ascending order
 - Replace empty cells with NaN values
 - Use `.fillna(method='bfill')` to backfill NaN cells

## Sort `code` and `name` by ascending order

In [7]:
sorted_themes = themes.sort_values(['code', 'name'])
sorted_themes

     code               name
212     1
363     1
1024    1
1114    1
1437    1
...   ...                ...
1426    9  Urban development
1428    9  Urban development
1470    9  Urban development
1473    9  Urban development
1495    9  Urban development

[1499 rows x 2 columns]

## Fill the blank names with NaN values

In [8]:
# sorted_themes.name[sorted_themes['name'] == ''] = np.nan
# sorted_themes.head(10)

In [9]:
mapping_dict = dict(zip(sorted_themes.code, sorted_themes.name))
mapping_dict

{'1': 'Economic management',
 '10': 'Rural development',
 '11': 'Environment and natural resources management',
 '2': 'Public sector governance',
 '3': 'Rule of law',
 '4': 'Financial and private sector development',
 '5': 'Trade and integration',
 '6': 'Social protection and risk management',
 '7': 'Social dev/gender/inclusion',
 '8': 'Human development',
 '9': 'Urban development'}

In [10]:
value_counts = themes['code'].value_counts()
df_value_counts = pd.DataFrame(value_counts).reset_index()
df_value_counts.columns = ['theme_code','counts']
df_value_counts['theme'] = df_value_counts['theme_code'].map(mapping_dict)

df_final = df_value_counts[['theme_code','theme','counts']]
df_final

   theme_code                                         theme  counts
0          11  Environment and natural resources management     250
1          10                             Rural development     216
2           8                             Human development     210
3           2                      Public sector governance     199
4           6         Social protection and risk management     168
5           4      Financial and private sector development     146
6           7                   Social dev/gender/inclusion     130
7           5                         Trade and integration      77
8           9                             Urban development      50
9           1                           Economic management      38
10          3                                   Rule of law      15

## Use `.fillna(method='bfill')` to backfill NaN cells

In [11]:
filled_in_themes = sorted_themes.fillna(method='bfill')
filled_in_themes.head(10)

     code                 name
212     1
363     1
1024    1
1114    1
1437    1
2       1  Economic management
88      1  Economic management
175     1  Economic management
204     1  Economic management
205     1  Economic management

# Outcome:

## 1. Top 10 Countries with Most Projects

In [12]:
projects_per_country.head(10)

Republic of Indonesia              19
People's Republic of China         19
Socialist Republic of Vietnam      17
Republic of India                  16
Republic of Yemen                  13
Nepal                              12
Kingdom of Morocco                 12
People's Republic of Bangladesh    12
Republic of Mozambique             11
Africa                             11
Name: countryname, dtype: int64

## 2. Top 10 Major Project Themes

In [13]:
top_ten_themes

11    250
10    216
8     210
2     199
6     168
4     146
7     130
5      77
9      50
1      38
Name: code, dtype: int64

## 3. Fill in missing names of `mjtheme_namecode`

In [14]:
df_final

   theme_code                                         theme  counts
0          11  Environment and natural resources management     250
1          10                             Rural development     216
2           8                             Human development     210
3           2                      Public sector governance     199
4           6         Social protection and risk management     168
5           4      Financial and private sector development     146
6           7                   Social dev/gender/inclusion     130
7           5                         Trade and integration      77
8           9                             Urban development      50
9           1                           Economic management      38
10          3                                   Rule of law      15